body {
    margin: 80px;
  }
  
.box {
  display: block;
  margin: auto;
  background-color: #faefef;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
  grid-area: box;
  box-shadow: 1rem 1rem 1rem #6684a7;
  padding: .5rem;
  font-size: 150%;
  color: rgb(26, 6, 6);
  width: 450px;
  height: 400px;
  place-items: center;
  }


.form {
  margin-left: 10px;
  margin-right: 10px
  }

.form-title {
font-size: 35px;
margin-top: 10px;
}

.form-info {
  font-size: 25px;
}

input[type="number"] {
    width: 320px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: medium;
  }

  input[type="password"] {
    width: 320px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: medium;
  }


.reset {
  width: 320px;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: rgb(103, 87, 118);
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}